/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(../Images/Registration\ page\ background\ image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    background-image: url(../Images/registration\ page\ background\ image\ 3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-right: 1.58%;
}


h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label{
    display: block;
    margin-bottom: 5px;
    color: #000000;
    font-weight: 600;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    resize: vertical; /* Allow vertical resizing of the textarea */
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.4s ease;
    /* padding-right: 15%; */

}
button:hover {
    background-color: #110850;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .container {
        max-width: 90%;
        padding: 15px;
    }

    h2 {
        font-size: 24px;
    }

    .form-group input,
    .form-group textarea {
        font-size: 14px;
        padding: 8px;
    }

    button {
        font-size: 14px;
        padding: 8px;
    }
}

@media (max-width: 480px) {
    .container {
        max-width: 95%;
    }

    h2 {
        font-size: 20px;
    }

    .form-group input,
    .form-group textarea {
        font-size: 12px;
        padding: 6px;
    }

    button {
        font-size: 12px;
        padding: 6px;
    }
}
